.notifications-title {
	display: inline;
    padding-left: 15px;
}

.small {
	margin-left: 52px;
}


.notification-icon-title {
	display: inline-block;
}

.icon-circle {
	width: 32px;
    height: 32px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    display: inline-block;


    i {
		font-size: 18px;
    	line-height: 32px;
    }
}