<div class="container-fluid">
    <!-- Changelogs -->
    <div class="block-header">
        <h2>Notifications</h2>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <h2>
                    <div class="notification-icon-title icon-circle bg-red"><i class="material-icons">favorite</i></div>
                    <div class="notifications-title">Welcome Tutorial</div>
                        <small class="small">Created: 12/01/2017</small>
                    </h2>
                </div>
                <div class="body"> 
                    <p>Welcome to the new ISG Implementation Admin Panel.  This ISG Admin Panel will replace the current ISG Implementation Public SharePoint and all of the links accessible for various sections.  The ISG Admin Panel will provide better visibility into project details, dashboard information, and rules content.  In the future all updates will be visible in the Panel as new enhancements implemented. <a href="javascript:void(0);" data-toggle="modal" data-target="#WelcomeTutorial">Start Welcome Tutorial now!</a></p>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h2>
                        <div class="icon-circle bg-amber"><i class="material-icons">file_download</i></div>
                    <div class="notifications-title">New Configurable Workflow (CWF) Requirements Template</div>
                        <small class="small">Created: 03/20/2018</small>
                    </h2>
                </div>
                <div class="body"> 
                    <p>Updates have been made to the Configurable Workflow (CWF) Requirements template based on recent product changes.  Please update your current CWF requirements to the new template when submitting new changes.  <a href="">Download CWF Requirements Template</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


